<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台管理系统</title>
  <link rel="stylesheet" href="./layui/css/layui.css">
  <style>
    .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;} 
  </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台管理系统</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">

        </a>
      </li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
     <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
          <a class="" href="index.html">开奖管理</a>
          <dl class="layui-nav-child">
            <dd><a href="index.html">用户竞猜</a></dd>
            <dd><a href="history.html">开奖历史</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a href="jifenGoods.html">商品管理</a>
          <dl class="layui-nav-child">
            <dd><a href="jifenGoods.html">积分商品</a></dd>
            <dd class="layui-this"><a href="goods.html">常规商品</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="customer.html">客户管理</a>
        </li>
        <li class="layui-nav-item">
          <a href="czManager.html">财务管理</a>
          <dl class="layui-nav-child">
            <dd><a href="czManager.html">充值管理</a></dd>
            <dd><a href="txManager.html">提现管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="order.html">订单管理</a>
          <dl class="layui-nav-child">
            <dd class="layui-this"><a href="order.html">订单中心</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
      <a class="layui-btn layui-btn-md" lay-event="add" id="add">添加</a>
      <table id="demo" lay-filter="test"></table>
      <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
      </script>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 2018
  </div>
</div>
<div id="goodsAdd" style="display:none;">
  <form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">商品名称</label>
      <div class="layui-input-inline">
        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入商品名" class="layui-input" id="name">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">商品价格</label>
      <div class="layui-input-inline">
        <input type="text" name="number" lay-verify="required|number" autocomplete="off" placeholder="请输入商品价格" class="layui-input" id="price">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">商品描述</label>
      <div class="layui-input-inline">
        <input type="text"  autocomplete="off" placeholder="请输入商品描述" class="layui-input" id="remarke">
      </div>
    </div>
    <div class="layui-form-item" style="padding: 0 36px;">
      <div class="layui-upload layui-inline">
        <p class="layui-btn" id="pic1">上传图片(必须三张否则不成功)</p>
        <div class="imgBox">

        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-input-block" style="margin-left: 60px">
        <p class="layui-btn" lay-submit="" lay-filter="demo1" id="addnow">立即添加</p>
        <p type="reset" class="layui-btn layui-btn-primary">放弃添加</p>
      </div>
    </div>
  </form>
</div>
<script src="./layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use(['element','table','upload','layer'], function(){
  var element = layui.element;
  var table = layui.table;
  var $ = layui.jquery
      ,upload = layui.upload
      ,layer = layui.layer;

  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 1000
    ,method:'post'
    ,where:{type : 1}
    ,url: '/mem/goods/findAllByType' //数据接口
    ,parseData: function(res){ //res 即为原始返回的数据
      return {
        "code": 0, //解析接口状态
        /*"msg": res.message, //解析提示文本
        "count": res.total, *///解析数据长度
        "data": res //解析数据列表
      };
    }
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:80, fixed: 'left'}
      ,{field: 'name', title: '商品名称', width:200}
      ,{field: 'price', title: '商品价格', width:120,sort: true}
      /*,{fixed: 'right', width: 200, align:'center', toolbar: '#toolbar'}*/
    ]]
  });
  //监听行工具事件
  table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    if(layEvent === 'add'){
      layer.open({
        type: 1,
        content: $('#goodsAdd') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
      });
    }else if(layEvent === 'edit'){
      layer.open({
        type: 1,
        content: $('#goodsEdit') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
      });
    }
  });
  $("#add").click(function(){
      layer.open({
          type: 1,
          content: $('#goodsAdd') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
      });
  });
  //普通图片上传
  var uploadInst1 = upload.render({
    elem: '#pic1'
    ,auto: false
    ,bindAction: '#addnow'
    ,number: 3
    ,multiple:true
    ,data:{name: $("#name").val(), price: $("#price").val(), remarke: $("#remarke").val(), type: 1}
    ,url: '/sys/addGoods'
    ,choose: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        var view = '<div class="layui-upload-list layui-input-block">' +
            '<img class="layui-upload-img" src="'+result+'"></img>' +
            '</div>';
        $(".imgBox").append(view);
      });
    }
    ,done: function(res){
      //如果上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      //上传成功
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText1');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    }
  });



});
</script>
</body>
</html>